html, body {
    font-size: 16px;
}

.container { 
    background: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.get-start {
    background: #FFFFFF;
}

.upper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: #828282;
}

.Home {
    color: #070707;
}

.Line {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    color: #828282;
}

.middle {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    color: #070707;
}

.name {
    font-size: 3rem;
    line-height: 3.7rem;
}

.profi {
    align-self: end;
}

.lang {
    font-size: 1rem;
    line-height: 1.25rem;
    transform: rotate(-90deg);
}

.lang > span {
    color: #828282;
}

img {
    width: 100%;
    height: 24rem;
    margin-top: 3rem;
    margin-bottom: 6.5rem;
} 