@font-face {
    font-family: font;
    src: url("./fonts/font-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: font;
    src: url("./fonts/font-Regular.ttf");
    font-weight: 400;
}

html, body { 
    font-size: 16px;
    font-family: font;
}

.container { 
    font-size: 1.2rem;
    line-height: 1.4rem;  
}

.upper {
    color: #828282;
}

.Home {
    color: #070707;
    font-weight: 700;
}

.Line {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    color: #828282;
}

.middle {
    flex-direction: initial;
    color: #070707;
}

.name {
    font-size: 3rem;
    line-height: 3.7rem;
    font-weight: 700;
}

.lang {
    font-size: 1rem;
    line-height: 1.25rem;
    transform: rotate(-90deg);
    font-weight: 700;
}

.lang > span {
    color: #828282;
}

.image {
    background-image: url(./images/image.avif);
    background-position: center;
    background-position-y: 66rem;
    height: 27rem;
} 