html, body {
    font-size: 16px;
}

.container {
    width: 90%;
    min-width: 85rem;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #c6c6c6;
    border-radius: .3rem;
    padding: 1rem;
}

.container input {
    margin-top: 1rem;
}

.form {
    margin: 0 auto;
    width: 60%;
    min-width: 10rem;
}
 